---
import DateRange from '@components/DateRange.astro'
import Location from '@components/Location.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  data: CollectionEntry<'educations'>
}

const { name, location, diploma, startDate, endDate } = Astro.props.data.data
---

<section class='grid grid-cols-1 gap-2'>
  <div>
    <h3 class='font-headline text-xl text-green-600 print:text-lg'>
      {name} - <span class='font-semibold'>{diploma}</span>
    </h3>
    <div class='flex flex-row gap-2'>
      <DateRange startDate={startDate} endDate={endDate} />
      <Location location={location} />
    </div>
  </div>
</section>
