---
import DateRange from '@components/DateRange.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  data: CollectionEntry<'educations'>
}

const { name, location, diploma, startDate, endDate } = Astro.props.data.data
---

<section class='grid grid-cols-1 gap-2'>
  <div>
    <h3 class='font-headline text-xl text-sky-700 print:text-lg'>
      {name} (<span class='oblique'>{location}</span>) - <span class='font-semibold'>{diploma}</span>
    </h3>
    <DateRange startDate={startDate} endDate={endDate} />
  </div>
</section>
