---
import DateRange from '@components/DateRange.astro'
import type { CollectionEntry } from 'astro:content'
import Skills from './Skills.astro'
import Location from '@components/Location.astro'
import ContentStyle from '@components/ContentStyle.astro'

export interface Props {
  data: CollectionEntry<'experiences'>
  selectedSkill?: string
}

const { data, selectedSkill } = Astro.props

const { company, title, location, startDate, endDate, skills } = data.data

const { Content } = await data.render()
---

<section class='grid grid-cols-1 gap-2'>
  <div>
    <h3 class='font-headline text-xl text-green-600 print:text-lg'>
      {company} - <span class='font-semibold'>{title}</span>
    </h3>
    <div class='flex flex-row gap-2'>
      <DateRange startDate={startDate} endDate={endDate} />
      <Location location={location} />
    </div>
  </div>
  <ContentStyle>
    <Content />
  </ContentStyle>

  <Skills {...skills} selected={selectedSkill} />
</section>
