---
import type { CollectionEntry } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Hr from '@components/Hr.astro'
import Socials from '@components/Socials.astro'
import Experience from '@layouts/Experience.astro'
import Skills from '@layouts/Skills.astro'
import SideProject from '@layouts/SideProject.astro'
import Section from '@layouts/Section.astro'
import Education from './Education.astro'

export interface Props {
  experiences: CollectionEntry<'experiences'>[]
  sideProjects: CollectionEntry<'sideProjects'>[]
  educations: CollectionEntry<'educations'>[]
  skills: string[]
  selectedSkill?: string
}

const { experiences, sideProjects, educations, skills, selectedSkill } =
  Astro.props
---

<Layout>
  <main class='mx-auto mb-4 max-w-3xl px-4'>
    <section>
      <div class='flex flex-row items-center justify-between'>
        <a href='/' class='underline decoration-4 hover:decoration-8'>
          <h1
            class='font-headline text-5xl font-bold leading-normal tracking-wide print:text-4xl print:leading-normal'
          >
            Alexis Lucas
          </h1>
        </a>
        <Socials />
      </div>
      <h2 class='font-headline text-3xl font-bold leading-normal print:text-3xl print:leading-normal'>
        Ingénieur d'études web spécialisé front-end
      </h2>
      <p class='leading-tight text-justify'>
        J'ai passé plusieurs années à l'étranger qui m'ont été bénéfiques sur le
        plan technique (reconnu pour mon expertise sur plusieurs sujets à
        Toast), la culture en entreprise, ainsi que ma communication en équipe
        et entre équipes. J'aimerais continuer à m'améliorer tout en explorant
        de nouveaux horizons, de retour en France.
      </p>
    </section>

    <Hr />

    <Section title='Compétences'>
      <!-- Adds consistent spacing with other sections, which have specific line-height -->
      <div class="mt-2">
        <Skills active={skills} selected={selectedSkill} />
      </div>
    </Section>

    {
      experiences.length > 0 && (
        <>
          <Hr />
          <Section title='Expériences'>
            <div class='grid grid-cols-1 gap-4'>
              {experiences.map(exp => (
                <Experience data={exp} selectedSkill={selectedSkill} />
              ))}
            </div>
          </Section>
        </>
      )
    }

    {
      sideProjects.length > 0 && (
        <>
          <Hr />
          <Section title='Projets personnels'>
            <div class='grid grid-cols-1 place-items-start gap-4 sm:grid-cols-2'>
              {sideProjects.map(project => (
                <SideProject data={project} selectedSkill={selectedSkill} />
              ))}
            </div>
          </Section>
        </>
      )
    }

    {
      educations.length > 0 && (
        <>
          <Hr />
          <Section title='Formations'>
            <div class='grid'>
              {educations.map(education => (
                <Education data={education} />
              ))}
            </div>
          </Section>
        </>
      )
    }
  </main>
</Layout>
