---
import type { CollectionEntry } from 'astro:content'
import { Image } from '@astrojs/image/components'
import Layout from '@layouts/Layout.astro'
import Hr from '@components/Hr.astro'
import Socials from '@layouts/Socials.astro'
import Experience from '@layouts/Experience.astro'
import Skills from '@layouts/Skills.astro'
import SideProject from '@layouts/SideProject.astro'
import Section from '@layouts/Section.astro'
import Education from '@layouts/Education.astro'
// import photo from '../images/photo 1.jpg'
import photo from '../images/photo 2.jpeg'

export interface Props {
  experiences: CollectionEntry<'experiences'>[]
  sideProjects: CollectionEntry<'sideProjects'>[]
  educations: CollectionEntry<'educations'>[]
  skills: string[]
  selectedSkill?: string
}

const { experiences, sideProjects, educations, skills, selectedSkill } =
  Astro.props
---

<Layout>
  <main class='mx-auto mb-4 max-w-3xl px-4'>
    <section>
      <div class='grid grid-cols-1 md:grid-cols-4 md:place-items-center gap-4'>
        <div class='col-span-3'>
          <a href={Astro.site} class='underline decoration-4 hover:decoration-8'>
            <h1
              class='font-headline text-5xl font-bold leading-normal tracking-wide print:text-4xl print:leading-normal'
            >
              Alexis Lucas
            </h1>
          </a>
          <h2 class='font-headline text-3xl font-bold print:text-3xl'>
            Ingénieur d'études web spécialisé front-end
          </h2>
          <p class='leading-tight text-justify'>
            J'ai passé plusieurs années à l'étranger qui m'ont été bénéfiques
            sur le plan technique (reconnu pour mon expertise sur plusieurs
            sujets à Toast), la culture en entreprise, ainsi que ma
            communication en équipe et entre équipes. J'aimerais continuer à
            m'améliorer tout en explorant de nouveaux horizons, de retour en
            France. Je suis curieux et créatif, j'aime explorer de nouvelles
            technologies sur des concepts comme vous pouvez le voir sur mon
            profil GitHub.
          </p>
        </div>
        <div
          class='flex flex-row-reverse md:flex-col col-span-4 md:col-span-1 justify-center items-center gap-4'
        >
          <Socials class='print:hidden' />
          <Image
            alt='Photo de profil'
            src={photo}
            width={176 /* 11rem */}
            aspectRatio='1:1'
            fit='cover'
            class='rounded-full border-4 border-slate-200 w-24 md:w-44'
          />
        </div>
      </div>
      <Socials class='hidden print:grid' />
    </section>

    <Hr />

    <Section title='Compétences'>
      <p class='text-justify text-slate-700 print:hidden'>
        (Sélectionnez une compétence pour filtrer les expériences et projet
        personnels qui l'utilisent)
      </p>
      <Skills active={skills} selected={selectedSkill} />
    </Section>

    {
      experiences.length > 0 && (
        <>
          <Hr />
          <Section title='Expériences'>
            <div class='grid grid-cols-1 gap-4'>
              {experiences.map(exp => (
                <Experience data={exp} selectedSkill={selectedSkill} />
              ))}
            </div>
          </Section>
        </>
      )
    }

    {
      sideProjects.length > 0 && (
        <>
          <Hr />
          <Section title='Projets personnels'>
            <div class='grid grid-cols-1 place-items-start gap-4 sm:grid-cols-2'>
              {sideProjects.map(project => (
                <SideProject data={project} selectedSkill={selectedSkill} />
              ))}
            </div>
          </Section>
        </>
      )
    }

    {
      educations.length > 0 && !selectedSkill && (
        <>
          <Hr />
          <Section title='Formations'>
            <div class='grid'>
              {educations.map(education => (
                <Education data={education} />
              ))}
            </div>
          </Section>
        </>
      )
    }
  </main>
</Layout>
