---
import { SITE } from '@config'
import '../styles/base.css'

// const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <!-- <link rel='canonical' href={canonicalURL} /> -->
    <meta name='generator' content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{SITE.title}</title>
    <meta name='title' content={SITE.title} />
    <meta name='description' content={SITE.description} />
    <meta name='author' content={SITE.author} />

    <link
      rel='preload'
      href='/fonts/Mona-Sans.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />
    <link
      rel='preload'
      href='/fonts/Hubot-Sans.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />
  </head>
  <body class='min-h-screen bg-slate-50 print:bg-transparent'>
    <slot />
  </body>
</html>
