---
import { SITE } from '@config'
import { type Locale, useTranslations } from '@utils/i18n'
import '../styles/global.css'

const locale = (Astro.currentLocale ?? 'fr') as Locale
const t = useTranslations(locale)

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
function toAbsoluteUrl(path: string) {
  return `${Astro.site}${path}`
}
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' />
    <link rel='canonical' href={canonicalURL} />
    <meta name='generator' content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{t('site.title')}</title>
    <meta name='title' content={t('site.title')} />
    <meta name='description' content={t('site.description')} />
    <meta name='author' content={SITE.author} />

    <meta property='og:title' content={t('site.title')} />
    <meta property='og:site_name' content={t('site.title')} />
    <meta property='og:description' content={t('site.description')} />
    <meta property='og:image' content={toAbsoluteUrl('/assets/photo.jpeg')} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={canonicalURL} />

    <link
      rel='preload'
      href='/fonts/Mona-Sans.woff2'
      as='font'
      type='font/woff2'
    />
    <link
      rel='preload'
      href='/fonts/Hubot-Sans.woff2'
      as='font'
      type='font/woff2'
    />
    <link
      rel='preload'
      href='/fonts/MonaspaceNeonVarVF.woff2'
      as='font'
      type='font/woff2'
    />
  </head>
  <body class='min-h-screen bg-slate-50 print:bg-transparent'>
    <slot />
  </body>
</html>
