---
import Skill from '@components/Skill.astro'
import { encodeSkill } from '@utils/skills'
import type { ExperienceFrontmatter } from '@content/_schemas'

export type Props = ExperienceFrontmatter['skills'] & {
  selected?: string
}

const { active = [], inactive = [], selected } = Astro.props

function getLinkSkill(skill: string) {
  const path = skill !== selected ? encodeSkill(skill) : '/'
  return new URL(path, Astro.site!.toString())
}
---

<ul class='flex flex-row flex-wrap gap-2 font-mono text-sm'>
  <>
    {
      active.sort().map((skill) => (
        <li>
          <a
            href={getLinkSkill(skill)}
            class='hover:font-semibold print:hidden'
          >
            <Skill selected={selected === skill} data={skill} />
          </a>
          <div class='hidden print:block'>
            <Skill selected={selected === skill} data={skill} />
          </div>
        </li>
      ))
    }
    {inactive.sort().map((skill) => <Skill isActive={false} data={skill} />)}
  </>
</ul>
