---
import Skill from '@components/Skill.astro'
import { encodeSkill } from '@utils/skills'
import type { ExperienceFrontmatter } from '@content/_schemas'
import { getRelativeLocaleUrl } from 'astro:i18n'
import type { Locale } from '@utils/i18n'

export type Props = ExperienceFrontmatter['skills'] & {
  selected?: string
  locale?: Locale
}

const { active = [], inactive = [], selected, locale = 'fr' } = Astro.props

function getLinkSkill(skill: string) {
  if (skill === selected) {
    return getRelativeLocaleUrl(locale, '')
  }
  return getRelativeLocaleUrl(locale, encodeSkill(skill))
}
---

<ul class='flex flex-row flex-wrap gap-2 font-mono text-sm'>
  <>
    {
      active.sort().map((skill) => (
        <li>
          <a
            href={getLinkSkill(skill)}
            class='hover:font-semibold print:hidden'
          >
            <Skill selected={selected === skill} data={skill} />
          </a>
          <div class='hidden print:block'>
            <Skill selected={selected === skill} data={skill} />
          </div>
        </li>
      ))
    }
    {inactive.sort().map((skill) => <Skill isActive={false} data={skill} />)}
  </>
</ul>
